@model dynamic
@{
    ViewData["Title"] = "Sinh Viên";
}

<h2>Trang Sinh Viên</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>1. Trò chuyện với Hannah</h4>
            <a class="btn btn-primary" href="/Student/Chat">Bắt đầu trò chuyện</a>
        </div>
        <div class="col-md-6">
            <h4>2. Giải thích code</h4>
            <a class="btn btn-success" href="/Student/ExplainCode">Giải thích code</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h4>3. Hỏi bài tập</h4>
            <a class="btn btn-warning" href="/Student/AskExercise">Hỏi ngay</a>
        </div>
        <div class="col-md-6">
            <h4>4. Tài liệu học tập</h4>
            <a class="btn btn-info" href="/Student/ViewLearningMaterials">Xem tài liệu</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h4>5. Theo dõi tiến trình</h4>
            <a class="btn btn-dark" href="/Student/TrackProgress">Xem tiến trình</a>
        </div>
        <div class="col-md-6">
            <h4>6. Tra cứu thông tin</h4>
            <a class="btn btn-secondary" href="/Student/LookupInformation">Tra cứu</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h4>7. Tải tài liệu lên</h4>
            <a class="btn btn-outline-primary" href="/Student/UploadDocument">Tải lên</a>
        </div>
        <div class="col-md-6">
            <h4>8. Lưu tài liệu</h4>
            <a class="btn btn-outline-success" href="/Student/SaveDocument">Lưu tài liệu</a>
        </div>
    </div>
</div>
