@{
    ViewData["Title"] = "Tra cứu thông tin";
}

<h1>Tra cứu thông tin</h1>
<p>Tìm kiếm thông tin bạn cần một cách nhanh chóng.</p>
<a class="btn btn-secondary" href="/Students">Quay lại trang Sinh Viên</a>