################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
D:/Uni/Công nghệ phần mềm/AI_Application/obj/